<mat-card class="add-question">
    <mat-card-header>
        <mat-card-title>Top 10</mat-card-title>
        <mat-card-subtitle>Fragen Hinzufügen</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field class="add-question-form">
        <mat-label>Neue Frage:</mat-label>
        <textarea rows="6" matInput placeholder="Ihr steht auf dem Deck der sinkenden Titanic. Mit welchem Gegenstand wollt ihr euch retten? Von du überlebst auf jeden Fall bis dein Tod ist dir sicher."></textarea>
        <mat-hint>Gebt auf jeden Fall von bis an!</mat-hint>
    </mat-form-field>        
    <mat-card-actions>
        <button mat-button routerLink="/">Hauptmenü</button>
        <button mat-button>Frage Speichern</button>
    </mat-card-actions>
</mat-card>