/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; }

#bg {
    height: 100%;
    background-image: url('./assets/images/bg.jpg');
    background-size: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.logo-img {
    width: 600px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-card {
    width: 600px;
    opacity: 0.94;
}

@media (max-width : 600px) {
    .logo-img {
        width: 60%;
        margin-left: 20%
    }

    .main-card {
        width: 95%;
        margin-left: 2.5%;
    }
}

.main-card-header {
    display: flex;
    justify-content: center;
}

.main-card-h {
    font-weight: bold;
}

.add-question-form {
    margin: 5px;
}

.add-question-formfield {
    width: 100%;
}

.add-question-btn-container {
    display: flex;
    justify-content: center;
}


.question {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(97, 97, 97);
    font-family: 'Lucida Sans';
}

.question:hover {
    background-color: lightgray;
    transition: 100ms;
    cursor: grab;
}

.question-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    font-size: small;
}

.question-footer {
    margin: 5px;
    text-align: center;
    font-size: xx-small;
}

.rm-question {
    margin: 5px;
    padding: 5px;
}
